*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App {
  text-align: center;
}

body{
  background-color: rgb(175, 197, 216);
  display: flex;
  justify-content: center;
  margin-top: 2px;
  align-items: center;
}